.projectwrapper{
    position: relative;
    padding: 33vh 0;
    --left: 12%;
    --right: 64%;
    margin-top: 2rem;
    /* outline: 1px solid var(--winered) */
}

.title{
    font-family: 'Editorial Old';
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(110em/16);
    z-index: 20;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlebg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 364px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    z-index: 1;
}

.meta{
    text-transform: uppercase;
    
    max-width: 26ch;
    z-index: 10;
}

.meta#category{
    position: absolute;
   
    text-align: left;
    transform: translate(var(--right), -20%);
}

.meta#descriptor{
    position: absolute;
    transform: translate(var(--left), 5%);
}

.image{
    position: absolute;
    z-index: 10;
    user-select: none;
}

#firuspread{
    top: 0;
    z-index: 10;
    transform: translate(var(--left), 0);
}

#detail{
    bottom: 10%;
    right: 8%;
}