.bigimgwrapper{
    position: relative;
    height: 175vh;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0 0 60px var(--white);
    margin: 6% 0;
}

.bigimgwrapper img{
    object-fit: cover;
}

@media(max-width: 767px){
    .bigimgwrapper{
        height: auto;
        aspect-ratio: 1 / 1.414;
    }

    .bigimgwrapper img{
        height: auto;
        width: 100%;
    }
}