.meta{
    text-transform: uppercase;
    position: relative;
    font-size: calc(15em/16);
    font-weight: 400;
    max-width: 28ch;
    z-index: 3;
}

@media(max-width: 400px){
    .meta{
        font-size: calc(12rem/16);
    }
}

