@font-face {
    font-family: 'Editorial Old';
    src: url('../public/fonts/PPEditorialOld-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial Old';
    src: url('../public/fonts/PPEditorialOld-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Editorial Old';
    src: url('../public/fonts/PPEditorialOld-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Editorial Old';
    src: url('../public/fonts/PPEditorialOld-UltralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MeB';
    src: url('../public/fonts/dstress/MeB.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'agate';
    src: url('../public/fonts/dstress/metathesio/agate.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'argnt';
    src: url('../public/fonts/dstress/metathesio/argnt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'arial';
    src: url('../public/fonts/dstress/metathesio/arial.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'avaraitalic';
    src: url('../public/fonts/dstress/metathesio/avaraitalic.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CirM';
    src: url('../public/fonts/dstress/metathesio/CirM.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kaeru';
    src: url('../public/fonts/dstress/metathesio/Kaeru.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueM';
    src: url('../public/fonts/dstress/metathesio/NeueM.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'macab';
    src: url('../public/fonts/dstress/macab.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}