.wrapper{
  height: 100vh;
  width: 100vw;
  position: relative;
  color: var(--green);
}

.line{
  position: absolute;
  width: 2px;
  background-color: var(--green);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
}

.maintitle{
  position: absolute;
  font-family: 'Editorial Old';
  font-style: italic;
  font-size: calc(120rem/16);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  user-select: none;
  background-color: var(--white);
  border: 32px solid var(--white);
  display: flex;
  justify-content: center;
  gap: 1%;
}

.link{
  color: inherit;
  text-transform: uppercase;
}

#projects{
  position: absolute;
  left: 1rem;
  top: 36%;
  text-align: right;
}

#about{
  position: absolute;
  left: -5rem;
  top: 64%;
  text-align: right;
}