.aboutpage{
    padding: 6rem 0;
}

.h1{
    display: flex;
    gap: 0.15rem;
    font-style: italic;
    font-weight: 200;
}

.aboutintro{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-items: center;
    position: relative;
    z-index: 2;
}

.fleximgwrapper{
    position: relative;
    width: 20rem;
    aspect-ratio: 1 / 1;
    box-shadow: 0 0 0 12px white;
}

.fleximgwrapper img{
    object-fit: cover;
}

.aboutintro p{
    background-color: white;
    max-width: 55ch;
    text-align: center;
    box-shadow: 0 0 0 12px white;
}

.em{
    font-style: italic;
}

.strong{
    font-style: italic;
}

@media(max-width: 430px){
    .fleximgwrapper{
        width: 80vw;
    }
}