.contentwrapper{
    padding: 0 calc(40rem/16);
    width: 100%;
    height: 100%;
}

.projectcontentwrapper{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media(min-width: 1920px){
    .contentwrapper{
        max-width: 1920px;
        margin: 0 auto;
        /* outline: 1px solid red; */
    }
}