.heroimgwrapper{
    width: 100%;
}

.heroimgwrapper > * > img{
    object-position: top;
}

.fleximgwrapper{
    position: relative;
    flex-basis: 50%;
    height: calc(1000em/16);
    flex-grow: 1;
}

.fleximgwrapper img{
    object-fit: cover;
}

.flexvidwrapper{
    flex-basis: 50%;
    height: auto;
    flex-grow: 1;
}

.flexvidwrapper video{
    width: 100%;
}

#img1, #img2, #img3, #img4{
    position: absolute;
    z-index: 2;
    object-fit: cover;
}

#img1{
    width: clamp(300px, 33vw, 600px);
    height: auto;
    left: 0;
    top: 0;
    opacity: 0.8;
}

#img2{
    width: clamp(300px, 33vw, 600px);
    height: auto;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

#img3{
    width: clamp(400px, 25vw, 550px);
    height: auto;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

#img4{
    width: clamp(300px, 30vw, 600px);
    height: auto;
    top: 0;
    left: 0;
    opacity: 0.7;
}

@media(max-width: 767px){
    #img1, #img2, #img4{
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);
        background-color: white;
        box-shadow: 0 0 0 12px white;
        opacity: 1;
        width: 65vw;
    }

    #img3{
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-50%);
        background-color: white;
        box-shadow: 0 0 0 12px white;
        opacity: 1;
        width: 30vw;
    }

}