.flex{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.flex.reversed{
    flex-direction: row-reverse;
}

.fleximgwrapper{
    position: relative;
    flex-basis: 50%;
    height: calc(666em/16);
    flex-grow: 1;
    
}

.fleximgwrapper img{
    object-fit: cover;
}

.flex p{
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
}

@media(max-width: 1054px){
    .flex{
        flex-direction: column;
        background-color: white;
        margin-bottom: 12rem;
        padding: 2rem 0;
    }

    .flex.reversed{
        flex-direction: column;
    }

    .fleximgwrapper{
        flex-basis: unset;
        width: 100%;
        height: auto;
    }

    .flex p {
        background-color: white;
    }
}