.flex{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.flex.reversed{
    flex-direction: row-reverse;
}

.fleximgwrapper{
    position: relative;
    flex-basis: 50%;
    height: calc(666em/16);
    flex-grow: 1;
    
}

.fleximgwrapper img{
    object-fit: cover;
}

.flex p{
    position: relative;
    flex-basis: 50%;
    flex-grow: 1;
}