.heroimgwrapper{
    width: 100%;
    height: clamp(800px, 80vh, 900px);
    position: relative;
    margin-top: calc(82rem/16);
    margin-bottom: 30px;
}

.heroimgwrapper img{
    object-fit: cover;
}