.projectwrapper{
    position: relative;
    padding: 33vh 0;
    --left: 6rem;
    --right: 24rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   /*  outline: 1px solid var(--blue); */
}

.title{
    font-family: 'Editorial Old';
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(110em/16);
    z-index: 20;
    user-select: none;
}

.titlebg{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 164px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    z-index: 1;
}

.meta{
    text-transform: uppercase;
    
    max-width: 20ch;
    z-index: 10;
}

.meta#category{
    position: absolute;
    top: 350px;
    left: 6rem;
}

.meta#descriptor{
    position: absolute;
    left: 200px;
    top: 800px;
}

.meta#type{
    position: absolute;
    left: 950px;
    bottom: 400px;
}

.image{
    position: absolute;
    z-index: 10;
    user-select: none;
}

#firuspread{
    z-index: 10;
    left: 200px;
    top: 200px;
}

#detail{
    z-index: 10;
    top: 700px;
    right: 0;
}